
{% extends 'base.html.twig' %}
{% block titulo %}Activities{% endblock %}
{% block contenido %}
<!-- ========= Banner =========-->


<!-- Begin text carousel intro section -->
<div class="banner testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/activities-banner.jpg);" id="testimonial-trigger" data-stellar-background-ratio="0.5"><h1 class="text-center" style="margin-top:40px;"></div>
<!-- End text carousel intro section -->




	<!-- Begin Activities -->
<section id="about-section" class="page bg-style1" style="background-color:#f59b27;padding:0px;margin-bottom:-80px;">
<div id="about-section" class="page bg-style1 esquina" style="background-color:white;">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
					<div class="container">
							<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
									<h2 align="center">Activities</h2><br>
													<img src="{{asset('img/puntos.png')}}" class="puntos" align="center" style="margin-bottom:30px;">
														<h4>EasyStage offers different social and cultural activities for students and staff involved in European Projects.<div style="margin-bottom:16px;"></div>Customized activities or special trips can be organized according to the needs of each sending organization.</h4>
							</div>
					</div>
			</div>
			<!-- End page header-->

</div>
			</section>


			<!-- Activities section -->
			<section id="france-section" class="page text-left parallax" style=style="background-color:#f59b27;">

			<!-- Begin roatet box-2 -->
			<div class="rotate-box-2-wrapper">
					<div class="container" >

						<div class="row activity">
								<div class="col-md-3 col-sm-12">
								<img src="{{asset('img/artesciencias.jpg')}}" >
								</div>
								<div class="col-md-9 col-sm-12">
								<h4>City of Arts & Science</h4>
								<p>Architectural complex in a futuristic style opened in 2000 made by the Valencian architect Santiago Calatrava.<br>
								The visit includes entrance to Oceanográfico, the largest aquarium in Europe; to Hemisfèric, a 3D cinema and to Príncipe Felipe Science Museum, educational and interactive museum.
								</p>
								</div>
						</div> <!-- /.row -->


							<div class="row activity" style=style="background-color:#f8f8f8;">
									<div class="col-md-3 col-sm-12">
									<img src="{{asset('img/flamenco.jpg')}}" >
									</div>
									<div class="col-md-9 col-sm-12">
									<h4>Flamenco</h4>
									<p>The perfect blend of music and dance, typical of southern Spain. The singing and the sound of the rhythm guitar give a sensual and energetic dance accompanied by the typical clap that distinguishes flamenco in a unique environment.</p>
									</div>
							</div> <!-- /.row -->

							<div class="row activity">
									<div class="col-md-3 col-sm-12">
									<img src="{{asset('img/bici.jpg')}}" >
									</div>
									<div class="col-md-9 col-sm-12">
									<h4>Valencia In Bicycle</h4>
									<p>Way a better way to know Valencia is undoubtedly by bike. Thanks to its Mediterranean climate and its flat roads, you can spend an afternoon in good company discovering the old town, the gardens of turia, the promenade, and why not get up all'Albufera through the typical fields of the Valencian garden.<br>Do not forget your camera.</p>
									</div>
							</div> <!-- /.row -->

							<div class="row activity" style=style="background-color:#f8f8f8;">
									<div class="col-md-3 col-sm-12">
									<img src="{{asset('img/bioparc.jpg')}}" >
									</div>
									<div class="col-md-9 col-sm-12">
									<h4>Bioparc</h4>
									<p>Zoological Park with the peculiarity of having almost invisible barriers that allow tourists to have a direct contact with the animal habitats, the so-called concept of "zoo-immersion". The entrance to Bioparc will allow you to discover the 4 african ecosystems in the park: Savannah, Madagascar Island, Equatorial Forest and the swamp area.</p>
									</div>
							</div> <!-- /.row -->

							<div class="row activity">
									<div class="col-md-3 col-sm-12">
									<img src="{{asset('img/seatour.jpg')}}" >
									</div>
									<div class="col-md-9 col-sm-12">
									<h4>Valencia Sea Tour</h4>
									<p>To make your stay unique, we recommend a very original way to discover the natural and maritime zone of Valencia sail with us on a catamarán along the Costa Blanca. <br>To make the tour unforgettable, we offer the opportunity to sail away just in time to watch the sun set and disappear slowly behind the mountains.</p>
									</div>
							</div> <!-- /.row -->

							<div class="row activity" style=style="background-color:#f8f8f8;">
									<div class="col-md-3 col-sm-12">
									<img src="{{asset('img/albufera.jpg')}}" >
									</div>
									<div class="col-md-9 col-sm-12">
									<h4>Albufera</h4>
									<p>Sail along Albufera Natural Park Reserve in a typical boat looking around you the ecosystem that harbors countless species of birds and fish and joins the rice fields. After the boat ride you will enjoy authentic paella in a restaurant overlooking the Natural Park.</p>
									</div>
							</div> <!-- /.row -->

							<div class="row activity">
									<div class="col-md-3 col-sm-12">
									<img src="{{asset('img/huerta.jpg')}}" >
									</div>
									<div class="col-md-9 col-sm-12">
									<h4>Discovering “La Huerta Valenciana”</h4>
									<p>“La Huerta Valenciana” is one of the few surrounding countryside to the cities that remain in Europe. You will enter into contact with a wonderful part of Valencia, away from the busy city. Walking through the rice fields, surrounded by orange and olive trees you will come to the chufa fields, from which it manufactures the Horchata, a typical sweet drink of Valencia. You will accomplish various courses, including Paella course, picking yourself products of the earth.</p>
									</div>
							</div> <!-- /.row -->

							<div class="row activity">
									<div class="col-md-3 col-sm-12">
									<img src="{{asset('img/excursion.jpg')}}" >
									</div>
									<div class="col-md-9 col-sm-12">
									<h4>Other Activities</h4>
									<p>During your stay in Spain, take the he opportunity to visit other cities.                                     Usually the favorite destinations are Barcelona and Madrid, but do not forget that the Valencian Community is full of cities and towns with much charm that are well worth visiting, an example may be Altea, Peñíscola, Morella ecc …In summer we recommend visiting Denia, Gandia and Cullera’s beaches, awarded with blue flag.</p>
									</div>
							</div> <!-- /.row -->


					</div> <!-- /.container -->

			</div>
			<!-- End rotate-box-2 -->
			</section>
			<!-- End Activities -->

{% endblock %}
