<div class="container-fluid">
    <h1>Paginación con KnpPaginator</h1>

    {# total items count #}
    <div class="count">
        <span class="label label-primary">
            Entradas en total: {{ pagination.getTotalItemCount }}
        </span>
    </div>
    <br/>
    <table class="table table-bordered">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'ID', 'e.id') }}</th>
            <th{% if pagination.isSorted('e.Title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'TITULO', 'e.title') }}
            </th>
        </tr>

        {# table body #}
        {% for offer in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ offer.id }}</td>
                <td>{{ offer.description }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
