
{% extends 'base.html.twig' %}
{% block titulo %}Offers{% endblock %}
{% block contenido %}


<h1>TODAS LAS OFERTAS</h1>
<table class="table">
  <tr>
      <td>Nombre</td>
      <td>Dirección</td>
      <td>Código Postal</td>
      <td>Teléfono 1</td>
      <td>Teléfono 2</td>
      <td>Fecha de creación</td>
     </tr>
  {% for offer in offers %}
  <tr>
      <td>{{ offer.name }}</td>
      <td>{{ offer.reference }}</td>
      <td>{{ offer.endDate }}</td>
      <td>{{ offer.beginDate }}</td>
      <td>{{ offer.picture }}</td>
      <td>{{ offer.reference }}</td>
  </tr>
 {% endfor %}
</table>

{% endblock %}
