
<h3>Consulta de disponibilidad</h3><br>
<img style="width:60px;" src="{{ absolute_url(asset('img/logofooter.png')) }}">
<br><strong>Nombre:</strong>  {{ name }}<br><br>

<strong>Apellidos:</strong>  {{ lastname }}  <br><br>

<strong>Tipo de alojamiento:</strong>  {{ accommodation}}<br><br>

<strong>Fecha</strong>  {{ date }}<br><br>

<strong>Mensaje:</strong>  {{ message }}<br><br>
