
<h3>Consulta de disponibilidad</h3><br>

<br><strong>Nombre:</strong>  {{ name }}<br><br>

<strong>Apellidos:</strong>  {{ lastname }}  <br><br>

<strong>Tipo de alojamiento:</strong>  {{ accommodation}}<br><br>

<strong>Fecha de llegada</strong>  {{ begindate }}<br><br>

<strong>Fecha de salida</strong>  {{ enddate }}<br><br>

<strong>Mensaje:</strong>  {{ message }}<br><br>
