
{% extends 'base.html.twig' %}
{% block titulo %}Courses{% endblock %}
{% block contenido %}
<!-- ========= Banner =========-->


<!-- Carousel -->

<div class="banner testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/courses/courses-banner.jpg);" id="testimonial-trigger" data-stellar-background-ratio="0.5"><h1 class="text-center" style="margin-top:40px;"></div>

	 <!-- End carousel -->



	 <section id="about-section" class="page bg-style1" style="background-color:#ec606c;padding:0px;	">
			 <div id="about-section" class="page bg-style1 esquina" style="background-color:white;">
	 <!-- Begin page header-->
	 <div class="page-header-wrapper">
			 <div class="container">
					 <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
						 <h2>Courses</h2><br>
						 <img src="{{asset('img/puntos.png')}}" class="puntos" align="center">
					 </div>
			 </div>
	 </div>
	 <!-- End page header-->

	 <!-- Begin rotate box-1 -->
	 <div class="rotate-box-1-wrapper">
			 <div class="container">
					 <div class="row">
						 <div class="col-md-12 col-sm-12" align="center">
							 <h4>EasyStage proposes different types of courses in function of each sending institute, some examples:</h4>
						 </div>

								<div class="col-md-6 col-sm-12" align="center">
									 <div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
											 <div>
												 <img class="accommodationPic" src="{{asset('img/courses/fotoit.jpg')}}" style="border: 5px solid #ec606c;">
											 </div>
									 </div>
									 <h4 style="font-weight:bold;" class="text-center">IT</h4>
									 <p>- Analysis, design and software development.
										 <br>- Development of web applications.
										 <br>- Creating websites.
										 <br>- Information management systems.
											 </p>
							 </div>

							 <div class="col-md-6 col-sm-12" align="center">
									<div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
											<div>
												<img class="accommodationPic" src="{{asset('img/courses/graphicdesign.jpg')}}" style="border: 5px solid #ec606c;">
											</div>
									</div>
									<h4 style="font-weight:bold;" class="text-center">Graphic design</h4>
									<p>- Introduction to Graphic Design.
										<br>- Branding and Visual Identity.
										<br>- Advertising.
										<br>- Adobe InDesign / Illustrator / Photoshop.
											</p>
							</div>

							<div class="col-md-6 col-sm-12" align="center">
								 <div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
										 <div>
											 <img class="accommodationPic" src="{{asset('img/courses/administration.jpg')}}" style="border: 5px solid #ec606c;">
										 </div>
								 </div>
								 <h4 style="font-weight:bold;" class="text-center">Administration and finance</h4>
								 <p>- Archive and database management.
									 <br>- Documentation management.
									 <br>- How to submit your tax return.
									 <br>- Calculation of personal income taxes.
										 </p>
						 </div>

						 <div class="col-md-6 col-sm-12" align="center">
								<div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
										<div>
											<img class="accommodationPic" src="{{asset('img/courses/language.jpg')}}" style="border: 5px solid #ec606c;">
										</div>
								</div>
								<h4 style="font-weight:bold;" class="text-center">Spanish Courses</h4>
								<p>- Communicative grammar.
									<br>- Vocabulary and conversation.
									<br>- Exercises in groups.
									<br>- Level test and diploma.
										</p>
						</div>



						<div class="col-md-12 col-sm-12" align="center">
							 <div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
									 <div>
										 <img class="accommodationPic" src="{{asset('img/courses/pot.jpg')}}" style="border: 5px solid #ec606c;">
									 </div>
							 </div>
						 </div>
							 <div class="col-md-12 col-sm-12" align="center" style="margin-top:80px;">
							 <h4 style="font-weight:bold;" class="text-center">Hospitality/Catering</h4>
							 <p>- Traditional Cooking Course.
								 <br>- Vanguard  Cooking Class
								 <br>- Pastry/Bakery
								 <br>- Restaurant/Sommelier
									 </p>

									 <div style="margin-top:50px;">
								 <a class="btn btn-default btn-lg" href="/ecotur" target="_blank" role="button" style="	box-shadow: 10px 10px 5px #888888;">Course Provided By Ecotur </a>
									 </div>
					 </div>



					 </div> <!-- /.row -->



			 </div> <!-- /.container -->

	 </div>

</section>
<!-- End about section -->

{% endblock %}
