
{% extends 'base.html.twig' %}
{% block titulo %}About Us{% endblock %}
{% block contenido %}
<!-- Begin text carousel intro section -->
 <div class="banner testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/worldMap2.jpg);" id="testimonial-trigger" data-stellar-background-ratio="0.5"><h1 class="text-center" style="margin-top:40px;">Erasmus + Partner in Valencia</h1></div>
			<!-- End text carousel intro section -->




            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2 align="center">About us</h2><br>
																		<img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <div align="center">
                                        <p style="text-allign:left;line-height:20pt;">EasyStage is a Spanish company founded in 2016 that hosts students and groups in the framework of European Mobility Projects.
                                        The main objective of EasyStage is to promote the internationalization of the professional and linguistic skills of people involved in the different projects of in the Erasmus + Program.
                                        <br>
                                        With more than 100 collaborating companies, we make available to university students and schools a wide range of companies in which participants will be able to carry out a training period in different areas.
                                        </p>
																	  </div>

                                </div>
                            </div>


                        </div> <!-- /.row -->




                    </div> <!-- /.container -->

                </div>






                <!-- <div class="extra-space-l"></div>-->

          </section>
          <!-- End about section -->
					<!-- Begin page header-->
					<div class="page-header-wrapper">
							<div class="container">
									<div class="page-header text-center wow fadeInUp" data-stellar-background-ratio="0" data-wow-delay="0.3s">
											<h2>Our Team</h2><br>
											<img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
									</div>
							</div>
					</div>
					<!-- End page header-->
					<!-- Begin Team-->
          <section id="testimonial-section">
              <div id="testimonial-trigger" class="testimonial text-white parallax" style="background-image: url(img/team-bg.jpg);">
                  <div class="cover" style="background-color: rgba(0, 0, 0, 0.6)!important;"></div>
                  <!-- Begin page header-->
                  <div class="page-header-wrapper">
                      <div class="container">
                          <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                              <h2>Our Team</h2><br>
                            <img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
                          </div>
                      </div>
                  </div>
                  <!-- End page header-->
                    <div class="container">
                      <div class="row">
                          <div class="col-md-6 col-sm-12" align="center">
                              <div>
                                  <div>
                                    <img class="teamPic" src="{{ asset('img/fotoSara.jpg')}}">
                                      <h4 style="font-weight:bold;" class="text-center">Sara Carducci<br>Directora</h4>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-12" align="center">
                              <div>

                                  <div>
                                      <img class="teamPic" src="{{ asset('img/fotoSebas.jpg')}}">
                                      <h4 style="font-weight:bold;" class="text-center">Sebastián Peralta<br>Subdirector</h4>
                                  </div>
                              </div>
                          </div>


                      </div> <!-- /.row -->

                        </div>
                    </div>


          </section>
          <!-- End team-->




            <!-- Begin offices -->
            <section id="testimonial-section">
                <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/pexels-photo.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Our Offices</h2><br>
  														<img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
											<div class="container">
													<div id="owl-partners" class="owl-carousel" align="center">
															<img style="width:250px;height:250px;" src="{{ asset('img/offices/office1.jpg')}}">
															<img style="width:250px;height:250px;" src="{{ asset('img/offices/office2.jpg')}}">
															<img style="width:250px;height:250px;" src="{{ asset('img/offices/office5.jpg')}}">
															<img style="width:250px;height:250px;" src="{{ asset('img/offices/office4.jpg')}}">
															<img style="width:250px;height:250px;" src="{{ asset('img/offices/office3.jpg')}}">

													</div>
											</div>

                </div>
            </section>
            <!-- End offices -->

            <!-- Begin download Brochure -->
            <section id="cta-section">
              <div class="cta">
                <div class="container">
                    <div class="row">

                        <div class="col-md-9">
                            <h1>Download our Brochure</h1>

                          </div>

                          <div class="col-md-3">
                            <div class="cta-btn">

                          <a style="top:-30px;" class="btn btn-default btn-lg" href="{{path('download_file')}}" target="_blank" role="button">Download</a>
                            </div>
                          </div>

                      </div> <!-- /.row -->
                  </div> <!-- /.container -->
              </div>
            </section>
            <!-- End Brochure -->





{% endblock %}
