
{% extends 'base.html.twig' %}
{% block titulo %}Ecotour{% endblock %}
{% block contenido %}
<!-- ========= Banner =========-->

<!-- Carousel -->

<div class="banner testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/ecotur-banner.jpg);" id="testimonial-trigger" data-stellar-background-ratio="0.5"><h1 class="text-center" style="margin-top:40px;"></div>

			 <!-- End carousel -->



			 <section id="about-section" class="page bg-style1" style="background-color:#9b0f8c;padding:0px;">
					 <div id="about-section" class="page bg-style1 esquina" style="background-color:white;">
			 <!-- Begin page header-->
			 <div class="page-header-wrapper">
					 <div class="container">
							 <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
								 <h2>Hospitality & Catering</h2><br>
								 <img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
							 </div>
					 </div>
			 </div>
			 <!-- End page header-->

			 <!-- Begin rotate box-1 -->
			 <div class="rotate-box-1-wrapper">
					 <div class="container">
							 <div class="row">
								 <div class="col-md-12 col-sm-12" align="center">
									 <h4>Easystage collaborates with Ecotur, the first "Hotel-School" of the Valencian Community.
									 <br><br>The courses will be realized in a spectacular location, as it may be that of a 4 star Hotel.
									 </h4>
								 </div>

							 </div>

					 <div class="row">
										<div class="col-md-6 col-sm-12" align="center">
											 <div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
													 <div>
														 <img class="accommodationPic" src="{{ asset('img/courses/traditional.jpeg')}}" style="border: 5px solid #9b0f8c;">
													 </div>
											 </div>
											 <h4 style="font-weight:bold;" class="text-center">Traditional Cooking Course</h4>
	 <p>The processing of traditional Spanish cuisine is the basis of the course.<br>They apply traditional culinary techniques so that the student is able to elaborate dishes of the Iberian Peninsula, the Canary Islands and the Balearics.<br>The program will include Spanish cooking lessons, including calculations such as Paella, Tortilla potato and the famous Tapas.</p>
									 </div>

									 <div class="col-md-6 col-sm-12" align="center">
											<div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
													<div>
														<img class="accommodationPic" src="{{ asset('img/courses/vanguard.jpeg')}}" style="border: 5px solid #9b0f8c;">
													</div>
											</div>
											<h4 style="font-weight:bold;" class="text-center">Vanguard Cooking Class </h4>
											<p>
												Author cuisine and avant-garde has played a key role in recent years. Students will learn innovative techniques and fusion cuisine.
													</p>
									</div>
</div>
<div class="row">
									<div class="col-md-6 col-sm-12" align="center">
										 <div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
												 <div>
													 <img class="accommodationPic" src="{{ asset('img/courses/bakery.jpeg')}}" style="border: 5px solid #9b0f8c;">
												 </div>
										 </div>
										 <h4 style="font-weight:bold;" class="text-center">Pastry/Bakery</h4>
										 <p>The pastry course includes theoretical and practical lessons of techniques used by the most renowned pastry chefs masters of Spain. Students will learn how to process the different sweets in the area, as well as their final presentation.
												 </p>
								 </div>

								 <div class="col-md-6 col-sm-12" align="center">
										<div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
												<div>
													<img class="accommodationPic" src="{{ asset('img/courses/sommelier.jpg')}}" style="border: 5px solid #9b0f8c;">
												</div>
										</div>
										<h4 style="font-weight:bold;" class="text-center">Restaurant/Sommelier</h4>
										<p>You'll learn the different techniques used in Restaurants and Hotels Spanish, comparadole with those studied at the sending institution. Immerse yourself in the variety of Spanish vineyards and learn to accompany each dish with a different wine.
												</p>
								</div>



								<div class="col-md-12 col-sm-12" align="center" style="margin-top:50px;">
									 <div class="page-scroll" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
											 <div>
												 <img  src="{{ asset('../img/partners/ecotur1.png')}}">

											 </div>
									 </div>


							 </div>



							 </div> <!-- /.row -->



					 </div> <!-- /.container -->

			 </div>

 </section>
 <!-- End about section -->

{% endblock %}
