
{% extends 'base.html.twig' %}
{% block titulo %}European Projects{% endblock %}
{% block contenido %}
<!-- ========= Banner =========-->
					  <div class="banner testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/europeanprojects.jpg);" id="testimonial-trigger" data-stellar-background-ratio="0.5"><h1 class="text-center" style="margin-top:40px;"></div>




            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
													<h2>European projects</h2><br>
													<img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <div align="justify">
                                        <p style="text-allign:left;line-height:20pt;">Erasmus + is the new mobility program of the European Union for Education, Training, Youth and Sports for the period 2014-2020, which has replaced and grouped under one single name all EU mobility programs.
This EU program finances scholarships for students, teachers, trainers and apprentices to study and / or train internships in an EU country. Vocational Schools, Institutes and Vocational Training Centers may submit a proposal for the aforementioned scholarships.
Erasmus + project focuses on three key actions:<br>
  &nbsp;• Key Action 1: Individual Mobility for Learning, including Training and Mobility Training Staff / Administrative Staff;
<br>&nbsp;• Key Action 2: Cooperation for Innovation and Exchange of Good Practices;
<br>&nbsp;• Key Action 3: Support for education, training and youth policies.<br>
In order to respect the objectives set by the program and each of the projects submitted by the sending organizations, EasyStage is committed to providing all the services essential to the successful mobilization.<br>
 We organize visits for professionals, teachers and administrative staff, as well as different courses included in the European Programs to promote the mobility of people within the European Union. In addition to participating in regional programs managed by local funds or the European Monetary Fund.<br>
<br>If you are not yet aware of the Erasmus + program and the benefits that you can bring to your institute, we can assist you in the registration, presentation and subsequent stages of the project.<br>

</p>
																	  </div>

                                </a>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>

                <!-- <div class="extra-space-l"></div>-->

          </section>
          <!-- End about section -->

					<section id="services-section" class="page text-center" style="background-color:#363940;">
					<!-- Begin page header-->
					<div class="page-header-wrapper">
							<div class="container">
									<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
											<h2 style="color:white;">Services Proposed</h2><br>
											<img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
									</div>
							</div>
					</div>
					<!-- End page header-->
					<!-- Begin Services -->
					<div class="rotate-box-2-wrapper">
							<div class="container" >
									<div class="row">
											<div class="col-md-6 col-sm-6">
													<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
															<i class="fa fa-group" aria-hidden="true" style="font-size:50px;"></i>
															<div class="rotate-box-info">
																	<h4>Coordination</h4>
																	<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
															</div>
													</a>
											</div>

											<div class="col-md-6 col-sm-6">
													<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
															<i class="fa fa-home" aria-hidden="true" style="font-size:50px;"></i>
															<div class="rotate-box-info">
																	<h4>Accomodation</h4>
																	<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
															</div>
													</a>
											</div>

											<div class="col-md-6 col-sm-6">
													<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
															<i class="fa fa-pencil" aria-hidden="true" style="font-size:50px;"></i>
															<div class="rotate-box-info">
																	<h4>Language Courses</h4>
																	<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
															</div>
													</a>
											</div>

											<div class="col-md-6 col-sm-6">
													<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s" style="color:white;">
															<i class="fa fa-university" aria-hidden="true" style="font-size:50px;"></i>
															<div class="rotate-box-info">
																	<h4>Cultural Activities</h4>
																	<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
															</div>
													</a>
											</div>

									</div> <!-- /.row -->
							</div> <!-- /.container -->

					</div>
					<!-- End Services -->
					</section>




            <!-- Begin Approved Projects -->
            <section id="testimonial-section" >
                <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/projectsBlue.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Approved Projects</h2><br>
  														<img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
										<div class="rotate-box-1-wrapper">
												<div class="container">
														<div class="row">
																<div class="col-md-4 col-sm-12" align="center">
																		<a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
																				<div>
																					<img class="countryPic" src="{{ asset('img/hungary.jpg')}}">
																				</div>
																		</a>
																		<h4 style="font-weight:bold;" class="text-center">Hungary</h4>
																		<h5 style=font-weight:normal;><a href="" style="color:white!important;">2016 Projects</a></h5>
																		<h5 style=font-weight:normal;><a href="" style="color:white!important;">2017 Projects</a></h5>
																</div>
																<div class="col-md-4 col-sm-12" align="center">
																		<a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
																				<div>
																						<img class="countryPic" src="{{ asset('img/florence.jpg')}}">
																				</div>
																		</a>
																		<h4 style="font-weight:bold;" class="text-center">Italy</h4>
																		<h5 style=font-weight:normal;><a href="" style="color:white!important;">2016 Projects</a></h5>
																		<h5 style=font-weight:normal;><a href="" style="color:white!important;">2017 Projects</a></h5>
																</div>
																<div class="col-md-4 col-sm-12" align="center">
																		<a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
																				<div>
																						<img class="countryPic" src="{{ asset('img/paris.jpg')}}">
																				</div>
																		</a>
																		<h4 style="font-weight:bold;" class="text-center">France</h4>
																		<h5 style=font-weight:normal;><a href="" style="color:white!important;">2016 Projects</a></h5>
																		<h5 style=font-weight:normal;><a href="" style="color:white!important;">2017 Projects</a></h5>

																</div>


														</div> <!-- /.row -->


												</div> <!-- /.container -->

										</div>

                </div>
            </section>
            <!-- End Approved Projects -->
{% endblock %}
