
{% extends 'base.html.twig' %}
{% block titulo %}Erasmus + Partner In Valencia{% endblock %}
{% block contenido %}
<!-- Begin text carousel intro section -->
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/slider-bg.jpg);">

<div id="over" style="position:absolute; width:100%; height:100%">

<img src="{{ asset('img/easystage.png')}}" style="allign:middle;" class="img-responsive">
<h1 style="text-align:center;margin-top:20px;color:white;margin-bottom:20px;">Erasmus+ Partner<br>&<br>Internship Opportunities</h1>
<!-- <h1 style="text-align:center;margin-top:-20px;color:pink;font-size:100px;">.....</h1>-->

</div>

			</section>
			<!-- End text carousel intro section -->

            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About us</h2>
														<hr style="border-top: 5px solid #53b2e4;">
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">

                                    <div class="rotate-box-info">

                                        <h4 style="font-weight:bold;"><i class="fa fa-users" aria-hidden="true" style="font-size:25px;"></i>  Who We Are</h4>
                                        <p style="text-align:justify;">Easystage is a Spanish company who the main objective is to facilitate the reception of young people participating in European Projects.
<br>We promote the internationalization of professional and language skills of the people involved in the different  programmes giving them the opportunity to stay abroad realizing internships in host companies.
</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <div class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">

                                    <div class="rotate-box-info">
                                        <h4 style="font-weight:bold;"><i class="fa fa-pencil" aria-hidden="true" style="font-size:25px;"></i>  What We Do</h4>
                                        <p style="text-align:justify;">Easystage welcomes and facilitates the employment in the host companies both for students of higher education institutions, VET Schools and Universities coming from several countries of the European Union.
<br>We help participants to find a suitable accommodation, to join cultural activities with other Erasmus students and much more services.
</p>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4 col-sm-12">
                                <div class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">

                                    <div class="rotate-box-info">
                                        <h4 style="font-weight:bold;"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:25px;"></i>  Why us</h4>
                                        <p style="text-align:justify;">Easystage ensures compliance with the Partnership Quality Commitment providing the best services based on a profesional organization according to their own program
Our purpose is to analyse the needs of each participant searching for them the appropriate company in which they can realice the placement.
<br>We guarantee a 24h support for any emergency or in order to solve possible problems.
</p>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- /.row -->

                    </div> <!-- /.container -->

                </div>

                <!-- End rotate box-1 -->

                <!-- <div class="extra-space-l"></div>-->

          </section>
          <!-- End about section -->

            <!-- Begin Services -->
            <section id="services-section" class="page text-center" style="margin-top: -80px;">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Specialized in</h2>
														<hr style="border-top: 5px solid #aec917;">
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <i class="fa fa-plane" aria-hidden="true" style="font-size:50px;"></i>
                                    <a href="/internship" class="rotate-box-info">
                                        <h4>Finding Internship Abroad</h4>
                                        <p>Choose between our internship offers or contact us for a detailed and personalised search</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <i class="fa fa-globe" aria-hidden="true" style="font-size:50px;"></i>
                                    <a href="/europeanprojects" class="rotate-box-info">
                                        <h4>Erasmus+ and European Projects</h4>
                                        <p>Are you going to submit a Project? We will take care of the rest.</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <i class="fa fa-bus" aria-hidden="true" style="font-size:50px;"></i>
                                    <a href="/languagetrip" class="rotate-box-info">
                                        <h4>Language Trips Abroad</h4>
                                        <p>The best experience to learn a foreign language and to be part of other cultura.</p>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <div class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <i class="fa fa-building" aria-hidden="true" style="font-size:50px;"></i>
                                    <a href="/group" class="rotate-box-info">
                                        <h4>Personalized Services for Groups</h4>
                                        <p>Are you traveling in a group? We make it easier  organizing your all stay.</p>
                                    </a>
                                </div>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->

            <!-- Begin testimonials -->
            <section id="testimonial-section">
                <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial-bg.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Reviews</h2>
                                <hr style="border-top: 5px solid #ec606c;">
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="container">
                        <div class="testimonial-inner center-block text-center">
                            <div id="owl-testimonial" class="owl-carousel">
                                <div class="item">
<iframe width="560" height="315" src="https://www.youtube.com/embed/O10K63n0uSg?showinfo=0&modestbranding=0" frameborder="0.5" allowfullscreen></iframe>
<br><br><br><p>LY Valentine coming from Lycée Jean ZAY, Orleans give you a feedback about her stay in Valencia.
</p>
                                </div>
                                <div class="item">
<iframe width="560" height="315" src="https://www.youtube.com/embed/v03CkYPcKpA?showinfo=0" frameborder="0" allowfullscreen></iframe>
<br><br><br><p>Diana Giovanni , italian student at University of Sassari, tell us about his experience in Valencia.
</p>
                                </div>
                                <div class="item">
<iframe width="560" height="315" src="https://www.youtube.com/embed/XQ4gOPxsK2I?showinfo=0" frameborder="0" allowfullscreen></iframe>
<br><br><br><p>DESCHAMPS Coralyne from Lycée Jean ZAY, Orleans spokes about her internship at Mundo Marino, Valencia.
</p>

	                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End testimonials -->

						<!-- Begin partners -->
						<section id="partners-section">
								<!-- Begin page header-->
								<div class="page-header-wrapper">
										<div class="container">
												<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
														<h2>Our Partners</h2>
														<hr style="border-top: 5px solid  #f59b27;">
												</div>
										</div>
								</div>
								<!-- End page header-->
								<div class="container">
										<div id="owl-partners" class="owl-carousel">
												<img src="{{ asset('img/partners/mundomarino1.png') }}" alt="Mundo Marino" style="width: 80%;padding-top:15px;">
												<img src="{{ asset('img/partners/hortaviva1.png') }}" alt="Horta Viva"style=";padding-top:15px;">
												<img src="{{ asset('img/partners/ecotur2.png') }}" alt="Ecotur"style="width: 80%;">
												<img src="{{ asset('img/partners/sagardi.png') }}" alt="Sagardi" style="width: 70%;padding-top:15px;">

										</div>
								</div>
						</section>
						<!-- End partners -->
            <!-- Begin counter up -->
            <section id="counter-section">
				<div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/counter-bg.jpg);">
					<div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Some Interesting Data</h2>
																 <hr style="border-top: 5px solid  #f2d717;">
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
					<div class="container">

						<div class="row">

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-pencil-square-o fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">50</span>
									<p class="lead">Internship Offers</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-handshake-o fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">200</span>
									<p class="lead">Partner Companies</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-check-circle-o fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">2</span>
									<p class="lead">Project Approved</p>
								</div>
							</div>

							<div class="fact last text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-users fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">100</span>
									<p class="lead">Students Received</p>
								</div>
							</div>

						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div>
            </section>
			<!-- End counter up -->
			<!-- Begin download Brochure -->
			<section id="cta-section">
				<div class="cta">
					<div class="container">
							<div class="row">

									<div class="col-md-9">
											<h1>Download our Brochure</h1>

										</div>

										<div class="col-md-3">
											<div class="cta-btn">

										<a style="top:-30px;" class="btn btn-default btn-lg" href="{{path('download_file')}}" target="_blank" role="button">Download</a>
											</div>
										</div>

								</div> <!-- /.row -->
						</div> <!-- /.container -->
				</div>
			</section>
			<!-- End Brochure -->

{% endblock %}
