
{% extends 'base.html.twig' %}
{% block titulo %}Erasmus + Partner In Valencia{% endblock %}
{% block contenido %}
<!-- Begin text carousel intro section -->
			<section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/slider-bg.jpg);">


<div id="over" style="position:absolute; width:100%; height:100%">

<img src="{{ asset('img/easystage.png')}}" style="allign:middle;" class="img-responsive">
<h1 style="text-align:center;margin-top:20px;color:white;">Erasmus+ Partner in Valencia</h1>
<!-- <h1 style="text-align:center;margin-top:-20px;color:pink;font-size:100px;">.....</h1>-->

</div>



			</section>
			<!-- End text carousel intro section -->




            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h2>About us</h2>
														<hr style="border-top: 5px solid #53b2e4;">
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">

                                    <div class="rotate-box-info">

                                        <h4 style="font-weight:bold;"><i class="fa fa-users" aria-hidden="true" style="font-size:25px;"></i>  Who We Are?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.
																				Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4 col-sm-12">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">

                                    <div class="rotate-box-info">
                                        <h4 style="font-weight:bold;"><i class="fa fa-pencil" aria-hidden="true" style="font-size:25px;"></i>  What We Do?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.
																				Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>

                            </div>

                            <div class="col-md-4 col-sm-12">
                                <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">

                                    <div class="rotate-box-info">
                                        <h4 style="font-weight:bold;"><i class="fa fa-question-circle" aria-hidden="true" style="font-size:25px;"></i>  Why us?</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.
																				Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>


                        </div> <!-- /.row -->




                    </div> <!-- /.container -->

                </div>

										<!--puntos <div class="container" >
												<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
														<b style="font-size:150px;color:#53b2e4" class="text-center">.</b>
														<b style="font-size:150px;color:#aec917" class="text-center">.</b>
														<b style="font-size:150px;color:#ec606c" class="text-center">.</b>
														<b style="font-size:150px;color:#f59b27" class="text-center">.</b>
														<b style="font-size:150px;color:#f2d717" class="text-center">.</b>

												</div>

								</div>-->
                <!-- End rotate box-1 -->

								<!-- Begin cta -->
								<section id="cta-section">
									<div class="cta">
										<div class="container">
												<div class="row">

														<div class="col-md-9">
																<h1>Send us your CV</h1>
																	<p>Inspired by nature, follow technology, appreciate the classics. You can build modern & professional websites with Unika. The possibilities are just endless.</p>
															</div>

															<div class="col-md-3">
																<div>
															<a class="btn btn-default btn-lg" href="http://www.imransdesign.com/" target="_blank" role="button">Apply now</a>
																</div>
															</div>

													</div> <!-- /.row -->
											</div> <!-- /.container -->
									</div>
								</section>
								<!-- End cta -->

                <!-- <div class="extra-space-l"></div>-->

          </section>
          <!-- End about section -->









            <!-- Begin Services -->
            <section id="services-section" class="page text-center">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Specialized in</h2>
														<hr style="border-top: 5px solid #aec917;">
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin roatet box-2 -->
                <div class="rotate-box-2-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0">
                                    <i class="fa fa-plane" aria-hidden="true" style="font-size:50px;"></i>
                                    <div class="rotate-box-info">
                                        <h4>Finding Internship Abroad</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s">
                                    <i class="fa fa-globe" aria-hidden="true" style="font-size:50px;"></i>
                                    <div class="rotate-box-info">
                                        <h4>Erasmus+ and European Projects</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s">
                                    <i class="fa fa-bus" aria-hidden="true" style="font-size:50px;"></i>
                                    <div class="rotate-box-info">
                                        <h4>School Trips</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-3 col-sm-6">
                                <a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s">
                                    <i class="fa fa-building" aria-hidden="true" style="font-size:50px;"></i>
                                    <div class="rotate-box-info">
                                        <h4>Personalized Services for Groups</h4>
                                        <p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
                                    </div>
                                </a>
                            </div>

                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                </div>
                <!-- End rotate-box-2 -->
            </section>
            <!-- End Services -->




            <!-- Begin testimonials -->
            <section id="testimonial-section">
                <div id="testimonial-trigger" class="testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/testimonial-bg.jpg);">
                    <div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Reviews</h2>
                                <hr style="border-top: 5px solid #ec606c;">
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
                    <div class="container">
                        <div class="testimonial-inner center-block text-center">
                            <div id="owl-testimonial" class="owl-carousel">
                                <div class="item">
                                    <blockquote>
                                        <p>"This was my first experience with that team and outperformed my expectation! They know there stuff and I highly recommend them! A+++".</p>
                                        <footer><cite title="Source Title">Daryl Hodgeman</cite></footer>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua."</p>
                                        <footer><cite title="Source Title">John Doe</cite></footer>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>"Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit".</p>
                                        <footer><cite title="Source Title">John Doe</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End testimonials -->







<div class="extra-space-l"></div>
            <!-- Begin counter up -->
            <section id="counter-section">
				<div id="counter-up-trigger" class="counter-up text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/counter-bg.jpg);">
					<div class="cover"></div>
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Some Fun Facts</h2>
																 <hr style="border-top: 5px solid #f59b27;">
                            </div>
                        </div>
                    </div>
                    <!-- End page header-->
					<div class="container">

						<div class="row">

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-users fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">6666</span>
									<p class="lead">Internship Offers</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-leaf fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">800</span>
									<p class="lead">Partner Companies</p>
								</div>
							</div>

							<div class="fact text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-trophy fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">55</span>
									<p class="lead">Project Approved</p>
								</div>
							</div>

							<div class="fact last text-center col-md-3 col-sm-6">
								<div class="fact-inner">
									<i class="fa fa-coffee fa-3x"></i>
                                    <div class="extra-space-l"></div>
									<span class="counter">1100</span>
									<p class="lead">Candidates</p>
								</div>
							</div>

						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div>
            </section>
			<!-- End counter up -->
			<!-- Begin download Brochure -->
			<section id="cta-section">
				<div class="cta">
					<div class="container">
							<div class="row">

									<div class="col-md-9">
											<h1>Download our Brochure</h1>
												<p>Inspired by nature, follow technology, appreciate the classics. You can build modern & professional websites with Unika. The possibilities are just endless.</p>
										</div>

										<div class="col-md-3">
											<div class="cta-btn wow bounceInRight" data-wow-delay="0.4s">

										<a class="btn btn-default btn-lg" href="{{path('download_file')}}" target="_blank" role="button">Download</a>
											</div>
										</div>

								</div> <!-- /.row -->
						</div> <!-- /.container -->
				</div>
			</section>
			<!-- End Brochure -->








            <!-- Begin partners -->
            <section id="partners-section">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Our Partners</h2>
                            <hr style="border-top: 5px solid #f2d717;">
                        </div>
                    </div>
                </div>
                <!-- End page header-->
                <div class="container">
                    <div id="owl-partners" class="owl-carousel">
                        <img src="{{ asset('img/partners/mundomarino1.png') }}" alt="Mundo Marino">
												<img src="{{ asset('img/partners/hortaviva1.png') }}" alt="Horta Viva">
												<img src="{{ asset('img/partners/ecotur.png') }}" alt="Ecotur">
                        <img src="{{ asset('img/partners/sagardi.png') }}" alt="Sagardi">
                        <img src="{{ asset('img/partners/mundomarino1.png') }}" alt="img">
                        <img src="{{ asset('img/partners/sagardi.png') }}" alt="img">
                        <img src="{{ asset('img/partners/hortaviva1.png') }}" alt="img">
                    </div>
                </div>
            </section>
            <!-- End partners -->



            <!-- Begin contact section -->
						<div id="contacto">
			<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/contact-bg.jpg);">
            <div class="cover"></div>

                 <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                            <h2>Contact</h2>
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <div class="contact wow bounceInRight" data-wow-delay="0.4s">
                    <div class="container">
                    	<div class="row">

                            <div class="col-sm-6">
                                <div class="contact-info">
                                    <h4>Our Address</h4>
                                    <ul class="contact-address">
			                            <li class="anchor" onclick="showMap()" style="cursor:pointer"><i class="fa fa-map-marker fa-lg"></i>&nbsp; Avenida Giorgeta 35, puerta 26<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Valencia, Spain, 46017<p class="message">SHOW MAP</p></li>
			                            <li><i class="fa fa-phone"></i>&nbsp; +34 963 368 691</li>
			                            <li><i class="fa fa-print"></i>&nbsp; +34 963 368 691</li>
			                            <li><i class="fa fa-envelope"></i> info@easystage.eu</li>
			                            <li><i class="fa fa-skype"></i> info@easystage.eu</li>
			                        </ul>
                                </div>
                            </div>
<!--
                        	<div class="col-sm-6">
                                <div class="contact-form">
                                	<h4>Write to us</h4>
                                    <form role="form">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-lg" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control input-lg" placeholder="E-mail" required>
                                        </div>

                                        <div class="form-group">
                                            <textarea class="form-control input-lg" rows="4" placeholder="Message" required></textarea>
                                        </div>
                                        <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                                    </form>
                                </div>
                            </div>
-->
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div>

            </section>
					</div>
            <!-- End contact section -->

						<style>
						#wrapper { position: relative; }
						#over_map { position: absolute; bottom: 20px; right: 50px; z-index: 99; }
						</style>

						<div id="wrapper">
							<div id="mapadiv" style="display:none;">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d770.1090695115944!2d-0.3848309527119772!3d39.4594715934522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f3a03a325a9%3A0x83b00b9d093cc803!2sAv.+de+Giorgeta%2C+35%2C+46007+Val%C3%A8ncia%2C+Valencia!5e0!3m2!1ses!2ses!4v1489074291462" width="100%" height="439" frameborder="0" style="border:0" allowfullscreen>
								</iframe>
								<div id="over_map">
								 <span class="btn btn-default btn-lg" role="button" onclick="hideMap()">Hide Map</span>
								</div>
							</div>


						</div>
{% endblock %}
