
{% extends 'base.html.twig' %}
{% block titulo %}New Offer{% endblock %}
{% block contenido %}



<!-- ========= Begin offers =========-->
					 <div class="page-header-wrapper" style="margin-top:50px;">
							 <div class="container">
									 <div class="page-header text-center">
											 <h2></h2><br>
											 <img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">

									 </div>
							 </div>
					 </div>

					 <table class="table">
  <tr>
  {{ form_start(form) }}
<div class="form-group-stylish row" style="padding-left:20px;padding-right:20px;">
	<div class="col-md-4" style="font-size:20px;">
    {{ form_row(form.name,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.city,{ "attr":{ "class": "form-control"}}) }}<br>

    {{ form_row(form.description,{ "attr":{ "class": "form-control"}}) }}<br>

    {{ form_row(form.endDate,{ "attr":{ "class": "form-control"}}) }}<br>

    {{ form_row(form.beginDate,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.picture) }}<br>

		{{ form_row(form.reference,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.area,{ "attr":{ "class": "form-control"}}) }}<br>
	</div>
	<div class="col-md-4" style="font-size:20px;">

		{{ form_row(form.location,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.information,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.tasks,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.remuneration,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.stay,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.availability,{ "attr":{ "class": "form-control"}}) }}<br>
			{{ form_row(form.submit,{ "attr":{ "class": "form-control"}}) }}
	</div>
	<div class="col-md-4" style="font-size:20px;">

		{{ form_row(form.language,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.studies,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.skills,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.tools,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.clothing,{ "attr":{ "class": "form-control"}}) }}<br>

		{{ form_row(form.documents,{ "attr":{ "class": "form-control"}}) }}<br>



	</div>
	</div>

  {{ form_end(form) }}

</table>
<div style="margin-bottom:200px;"></div>

							 <!-- ========= End offers =========-->

{% endblock %}
