
{% extends 'base.html.twig' %}
{% block titulo %}New Offer{% endblock %}
{% block contenido %}


<!-- Begin cta -->
<section id="cta-section" style="margin-top:60px;">
	<div class="cta">
		<div class="container">
				<div class="row">

						<div class="col-md-9">
								<h1>Send us your CV</h1>
									<p>Inspired by nature, follow technology, appreciate the classics. You can build modern & professional websites with Unika. The possibilities are just endless.</p>
							</div>

							<div class="col-md-3">
								<div>
							<a class="btn btn-default btn-lg" href="http://www.imransdesign.com/" target="_blank" role="button">Apply now</a>
								</div>
							</div>

					</div> <!-- /.row -->
			</div> <!-- /.container -->
	</div>
</section>
<!-- End cta -->
<!-- ========= Begin offers =========-->
					 <div class="page-header-wrapper" style="margin-top:50px;">
							 <div class="container">
									 <div class="page-header text-center">
											 <h2></h2><br>
											 <img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">

									 </div>
							 </div>
					 </div>

					 <table class="table">
  <tr>
  {{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.description) }}

    {{ form_row(form.endDate) }}

    {{ form_row(form.beginDate) }}

		{{ form_row(form.picture) }}

		{{ form_row(form.reference) }}

		{{ form_row(form.area) }}
1-españa 2-italia 3-francia
		{{ form_row(form.location) }}
		{{ form_row(form.information) }}
		{{ form_row(form.tasks) }}
		{{ form_row(form.remuneration) }}
		{{ form_row(form.stay) }}
		{{ form_row(form.availability) }}
		{{ form_row(form.language) }}
		{{ form_row(form.studies) }}
		{{ form_row(form.skills) }}
		{{ form_row(form.tools) }}
		{{ form_row(form.clothing) }}
		{{ form_row(form.documents) }}

		{{ form_row(form.submit) }}

  {{ form_end(form) }}

</table>
<div style="margin-bottom:200px;"></div>

							 <!-- ========= End offers =========-->

{% endblock %}
