
{% extends 'base.html.twig' %}
{% block titulo %}Offers{% endblock %}
{% block contenido %}
					 <!-- ========= Begin offers =========-->
					 <div class="page-header-wrapper">
							 <div class="container">
									 <div class="page-header text-center">
											 <h2 style="margin-top:200px;">{% for offer in offer %}{{ offer.name }}{% endfor %}</h2><br>
											 <img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">

									 </div>
							 </div>
					 </div>

		{% for offer in offer %}
					 <div class="note">
						 <div class="row">
							 <div class="col-md-3">
									 <a href=""><img class="offerPic" src="{{ asset('img/florence.jpg')}}"></a>
							 </div>
							 <div class="col-md-9">
									 <a href=""><h3 style="color:grey;">{{ offer.name }}</h3></a>

									 <span class="caret"></span><a>Lugar: Valencia </a><span class="caret"></span><a>Fecha: {{ offer.beginDate }} - {{ offer.endDate }} </a><span class="caret"></span><a>Referencia: {{ offer.reference }}</a>
									 <hr>
									 <p style="color:grey;"> {{ offer.description }}</p>
							 </div>
						 </div><img src="{{ asset('img/spainFlag.png')}}" class="countryIcon"></a></div>
						 </a>
{% endfor %}

							 <!-- ========= End offers =========-->

{% endblock %}
